.l-sign-up-flow {
  max-width: 368px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 167px;
}

.o-welcome-greeting__headline {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 125%;
  color: #2A343A;
  margin-bottom: 6px;
}

.o-welcome-greeting__subhead {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  color: rgba(42, 52, 58, 0.75);
}

.o-welcome-greeting {
  margin-bottom: 55px;
}


.o-phone-number-text-input {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.o-phone-number-text-input input[type=tel] {
  border: 0px;
  width: 35%;
  outline: 0px;
}

.o-phone-number-text-input > div:first-child {
  width: 55%;
}

.o-phone-number-text-input > div:first-child > div:first-of-type {
  border: 0px;
  border-color: unset !important;
  box-shadow: unset !important;
  outline: 0px;
}

.o-phone-number-form__fields {
  margin-bottom: 50px;
}

.o-country-calling-code {
  font-size: 14px;
  line-height: 150%;
  color: black;
  padding-left: 8px;
  padding-right: 8px;
}

.o-country-option {
  display: flex;
  align-items: center;
}

.o-flag-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 16px;
}

.o-verification-code-box {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 18px 28px 36px;
  margin-bottom: 64px;
}

.o-verification-code-box-right div {
  font-size: 14px;
  line-height: 150%;
  color: rgba(42, 52, 58, 0.75);
}

.o-verification-code-label {
  font-size: 14px;
  line-height: 30px;
  color: rgba(42, 52, 58, 0.75);
  margin-bottom: 8px;
}

.o-verification-code-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.o-verification-code__input {
  width: 25px;
  height: 40px;
  padding: 5px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  font-family: monospace;
}

@media only screen and (min-width: 639px) {
  .o-verification-code__input {
    width: 35px;
    height: 40px;
    padding: 11px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    
}

@media only screen and (max-width: 480px) {
  .o-country-option span {
    display: none;
  }

  .o-phone-number-text-input > div:first-child {
    width: 35%;
  }

  .o-phone-number-text-input input[type=tel] {
    width: 50%;
  }
}

@media only screen and (max-width: 414px) {
  .l-sign-up-flow {
    padding-left: 5%;
    padding-right: 5%;
  }

  .o-country-calling-code {
    padding-left: 8px;
  }
}
