@font-face {
  font-family: 'P22 Mackinac';
  src: url(/static/assets/fonts/P22Mackinac-BoldItalic.eot);
  src: url(/static/assets/fonts/P22Mackinac-BoldItalic.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22Mackinac-BoldItalic.woff2) format('woff2'),
    url(/static/assets/fonts/P22Mackinac-BoldItalic.woff) format('woff'),
    url(/static/assets/fonts/P22Mackinac-BoldItalic.ttf) format('truetype'),
    url(/static/assets/fonts/P22Mackinac-BoldItalic.svg#P22Mackinac-BoldItalic)
      format('svg');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac';
  src: url(/static/assets/fonts/P22Mackinac-Bold.eot);
  src: url(/static/assets/fonts/P22Mackinac-Bold.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22Mackinac-Bold.woff2) format('woff2'),
    url(/static/assets/fonts/P22Mackinac-Bold.woff) format('woff'),
    url(/static/assets/fonts/P22Mackinac-Bold.ttf) format('truetype'),
    url(/static/assets/fonts/P22Mackinac-Bold.svg#P22Mackinac-Bold)
      format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac';
  src: url(/static/assets/fonts/P22Mackinac-BoldItalicSC.eot);
  src: url(/static/assets/fonts/P22Mackinac-BoldItalicSC.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22Mackinac-BoldItalicSC.woff2) format('woff2'),
    url(/static/assets/fonts/P22Mackinac-BoldItalicSC.woff) format('woff'),
    url(/static/assets/fonts/P22Mackinac-BoldItalicSC.ttf) format('truetype'),
    url(/static/assets/fonts/P22Mackinac-BoldItalicSC.svg#P22Mackinac-BoldItalicSC)
      format('svg');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac';
  src: url(/static/assets/fonts/P22Mackinac.eot);
  src: url(/static/assets/fonts/P22Mackinac.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22Mackinac.woff2) format('woff2'),
    url(/static/assets/fonts/P22Mackinac.woff) format('woff'),
    url(/static/assets/fonts/P22Mackinac.ttf) format('truetype'),
    url(/static/assets/fonts/P22Mackinac.svg#P22Mackinac) format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac';
  src: url(/static/assets/fonts/P22Mackinac-Italic.eot);
  src: url(/static/assets/fonts/P22Mackinac-Italic.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22Mackinac-Italic.woff2) format('woff2'),
    url(/static/assets/fonts/P22Mackinac-Italic.woff) format('woff'),
    url(/static/assets/fonts/P22Mackinac-Italic.ttf) format('truetype'),
    url(/static/assets/fonts/P22Mackinac-Italic.svg#P22Mackinac-Italic)
      format('svg');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac';
  src: url(/static/assets/fonts/P22Mackinac-BoldSC.eot);
  src: url(/static/assets/fonts/P22Mackinac-BoldSC.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22Mackinac-BoldSC.woff2) format('woff2'),
    url(/static/assets/fonts/P22Mackinac-BoldSC.woff) format('woff'),
    url(/static/assets/fonts/P22Mackinac-BoldSC.ttf) format('truetype'),
    url(/static/assets/fonts/P22Mackinac-BoldSC.svg#P22Mackinac-BoldSC)
      format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac';
  src: url(/static/assets/fonts/P22Mackinac-BookSC.eot);
  src: url(/static/assets/fonts/P22Mackinac-BookSC.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22Mackinac-BookSC.woff2) format('woff2'),
    url(/static/assets/fonts/P22Mackinac-BookSC.woff) format('woff'),
    url(/static/assets/fonts/P22Mackinac-BookSC.ttf) format('truetype'),
    url(/static/assets/fonts/P22Mackinac-BookSC.svg#P22Mackinac-BookSC)
      format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac';
  src: url(/static/assets/fonts/P22Mackinac-ExtraBoldSC.eot);
  src: url(/static/assets/fonts/P22Mackinac-ExtraBoldSC.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22Mackinac-ExtraBoldSC.woff2) format('woff2'),
    url(/static/assets/fonts/P22Mackinac-ExtraBoldSC.woff) format('woff'),
    url(/static/assets/fonts/P22Mackinac-ExtraBoldSC.ttf) format('truetype'),
    url(/static/assets/fonts/P22Mackinac-ExtraBoldSC.svg#P22Mackinac-ExtraBoldSC)
      format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac';
  src: url(/static/assets/fonts/P22Mackinac-BookSCItalic.eot);
  src: url(/static/assets/fonts/P22Mackinac-BookSCItalic.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22Mackinac-BookSCItalic.woff2) format('woff2'),
    url(/static/assets/fonts/P22Mackinac-BookSCItalic.woff) format('woff'),
    url(/static/assets/fonts/P22Mackinac-BookSCItalic.ttf) format('truetype'),
    url(/static/assets/fonts/P22Mackinac-BookSCItalic.svg#P22Mackinac-BookSCItalic)
      format('svg');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac';
  src: url(/static/assets/fonts/P22Mackinac-ExtraBold.eot);
  src: url(/static/assets/fonts/P22Mackinac-ExtraBold.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22Mackinac-ExtraBold.woff2) format('woff2'),
    url(/static/assets/fonts/P22Mackinac-ExtraBold.woff) format('woff'),
    url(/static/assets/fonts/P22Mackinac-ExtraBold.ttf) format('truetype'),
    url(/static/assets/fonts/P22Mackinac-ExtraBold.svg#P22Mackinac-ExtraBold)
      format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac';
  src: url(/static/assets/fonts/P22Mackinac-ExtraBoldItalic.eot);
  src: url(/static/assets/fonts/P22Mackinac-ExtraBoldItalic.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22Mackinac-ExtraBoldItalic.woff2) format('woff2'),
    url(/static/assets/fonts/P22Mackinac-ExtraBoldItalic.woff) format('woff'),
    url(/static/assets/fonts/P22Mackinac-ExtraBoldItalic.ttf) format('truetype'),
    url(/static/assets/fonts/P22Mackinac-ExtraBoldItalic.svg#P22Mackinac-ExtraBoldItalic)
      format('svg');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac';
  src: url(/static/assets/fonts/P22Mackinac-MediumItalic.eot);
  src: url(/static/assets/fonts/P22Mackinac-MediumItalic.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22Mackinac-MediumItalic.woff2) format('woff2'),
    url(/static/assets/fonts/P22Mackinac-MediumItalic.woff) format('woff'),
    url(/static/assets/fonts/P22Mackinac-MediumItalic.ttf) format('truetype'),
    url(/static/assets/fonts/P22Mackinac-MediumItalic.svg#P22Mackinac-MediumItalic)
      format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac';
  src: url(/static/assets/fonts/P22Mackinac-ExtraBoldSCItalic.eot);
  src: url(/static/assets/fonts/P22Mackinac-ExtraBoldSCItalic.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22Mackinac-ExtraBoldSCItalic.woff2)
      format('woff2'),
    url(/static/assets/fonts/P22Mackinac-ExtraBoldSCItalic.woff) format('woff'),
    url(/static/assets/fonts/P22Mackinac-ExtraBoldSCItalic.ttf)
      format('truetype'),
    url(/static/assets/fonts/P22Mackinac-ExtraBoldSCItalic.svg#P22Mackinac-ExtraBoldSCItalic)
      format('svg');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac';
  src: url(/static/assets/fonts/P22Mackinac-MediumSC.eot);
  src: url(/static/assets/fonts/P22Mackinac-MediumSC.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22Mackinac-MediumSC.woff2) format('woff2'),
    url(/static/assets/fonts/P22Mackinac-MediumSC.woff) format('woff'),
    url(/static/assets/fonts/P22Mackinac-MediumSC.ttf) format('truetype'),
    url(/static/assets/fonts/P22Mackinac-MediumSC.svg#P22Mackinac-MediumSC)
      format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac';
  src: url(/static/assets/fonts/P22Mackinac-MediumItalicSC.eot);
  src: url(/static/assets/fonts/P22Mackinac-MediumItalicSC.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22Mackinac-MediumItalicSC.woff2) format('woff2'),
    url(/static/assets/fonts/P22Mackinac-MediumItalicSC.woff) format('woff'),
    url(/static/assets/fonts/P22Mackinac-MediumItalicSC.ttf) format('truetype'),
    url(/static/assets/fonts/P22Mackinac-MediumItalicSC.svg#P22Mackinac-MediumItalicSC)
      format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac';
  src: url(/static/assets/fonts/P22Mackinac-Medium.eot);
  src: url(/static/assets/fonts/P22Mackinac-Medium.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22Mackinac-Medium.woff2) format('woff2'),
    url(/static/assets/fonts/P22Mackinac-Medium.woff) format('woff'),
    url(/static/assets/fonts/P22Mackinac-Medium.ttf) format('truetype'),
    url(/static/assets/fonts/P22Mackinac-Medium.svg#P22Mackinac-Medium)
      format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac Pro';
  src: url(/static/assets/fonts/P22MackinacPro-Bold.eot);
  src: url(/static/assets/fonts/P22MackinacPro-Bold.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22MackinacPro-Bold.woff2) format('woff2'),
    url(/static/assets/fonts/P22MackinacPro-Bold.woff) format('woff'),
    url(/static/assets/fonts/P22MackinacPro-Bold.ttf) format('truetype'),
    url(/static/assets/fonts/P22MackinacPro-Bold.svg#P22MackinacPro-Bold)
      format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac Pro';
  src: url(/static/assets/fonts/P22MackinacPro-BookItalic.eot);
  src: url(/static/assets/fonts/P22MackinacPro-BookItalic.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22MackinacPro-BookItalic.woff2) format('woff2'),
    url(/static/assets/fonts/P22MackinacPro-BookItalic.woff) format('woff'),
    url(/static/assets/fonts/P22MackinacPro-BookItalic.ttf) format('truetype'),
    url(/static/assets/fonts/P22MackinacPro-BookItalic.svg#P22MackinacPro-BookItalic)
      format('svg');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac Pro';
  src: url(/static/assets/fonts/P22MackinacPro-BoldItalic.eot);
  src: url(/static/assets/fonts/P22MackinacPro-BoldItalic.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22MackinacPro-BoldItalic.woff2) format('woff2'),
    url(/static/assets/fonts/P22MackinacPro-BoldItalic.woff) format('woff'),
    url(/static/assets/fonts/P22MackinacPro-BoldItalic.ttf) format('truetype'),
    url(/static/assets/fonts/P22MackinacPro-BoldItalic.svg#P22MackinacPro-BoldItalic)
      format('svg');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac Pro';
  src: url(/static/assets/fonts/P22MackinacPro-Book.eot);
  src: url(/static/assets/fonts/P22MackinacPro-Book.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22MackinacPro-Book.woff2) format('woff2'),
    url(/static/assets/fonts/P22MackinacPro-Book.woff) format('woff'),
    url(/static/assets/fonts/P22MackinacPro-Book.ttf) format('truetype'),
    url(/static/assets/fonts/P22MackinacPro-Book.svg#P22MackinacPro-Book)
      format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac Pro';
  src: url(/static/assets/fonts/P22MackinacPro-Medium.eot);
  src: url(/static/assets/fonts/P22MackinacPro-Medium.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22MackinacPro-Medium.woff2) format('woff2'),
    url(/static/assets/fonts/P22MackinacPro-Medium.woff) format('woff'),
    url(/static/assets/fonts/P22MackinacPro-Medium.ttf) format('truetype'),
    url(/static/assets/fonts/P22MackinacPro-Medium.svg#P22MackinacPro-Medium)
      format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac Pro';
  src: url(/static/assets/fonts/P22MackinacPro-MediumItalic.eot);
  src: url(/static/assets/fonts/P22MackinacPro-MediumItalic.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22MackinacPro-MediumItalic.woff2) format('woff2'),
    url(/static/assets/fonts/P22MackinacPro-MediumItalic.woff) format('woff'),
    url(/static/assets/fonts/P22MackinacPro-MediumItalic.ttf) format('truetype'),
    url(/static/assets/fonts/P22MackinacPro-MediumItalic.svg#P22MackinacPro-MediumItalic)
      format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac Pro';
  src: url(/static/assets/fonts/P22MackinacPro-ExtraBold.eot);
  src: url(/static/assets/fonts/P22MackinacPro-ExtraBold.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22MackinacPro-ExtraBold.woff2) format('woff2'),
    url(/static/assets/fonts/P22MackinacPro-ExtraBold.woff) format('woff'),
    url(/static/assets/fonts/P22MackinacPro-ExtraBold.ttf) format('truetype'),
    url(/static/assets/fonts/P22MackinacPro-ExtraBold.svg#P22MackinacPro-ExtraBold)
      format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'P22 Mackinac Pro';
  src: url(/static/assets/fonts/P22MackinacPro-ExtraBoldItalic.eot);
  src: url(/static/assets/fonts/P22MackinacPro-ExtraBoldItalic.eot?#iefix)
      format('embedded-opentype'),
    url(/static/assets/fonts/P22MackinacPro-ExtraBoldItalic.woff2)
      format('woff2'),
    url(/static/assets/fonts/P22MackinacPro-ExtraBoldItalic.woff) format('woff'),
    url(/static/assets/fonts/P22MackinacPro-ExtraBoldItalic.ttf)
      format('truetype'),
    url(/static/assets/fonts/P22MackinacPro-ExtraBoldItalic.svg#P22MackinacPro-ExtraBoldItalic)
      format('svg');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
